footer {
  text-align: center;
  background: url(../../assets/img/bg.jpg);
  padding: 2.5rem;
}

footer img {
  height: 100%;
  max-height: 12rem;
  margin: 0 auto;
}

.copyright {
  color: #ffffff;
  font-size: 0.8rem;
  margin: 1.25rem;
  text-align: center;
}

@media screen and (min-width: 940px) {
  .copyright {
    font-size: 1rem;
  }
}
