.title {
  padding-left: 30px;
}

#banner {
  width: 100%;
}

.about {
  background: #cccccc;
  padding: 1.25rem;
}

.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

em strong {
  color: red;
}

#mission {
  font-size: 1.25rem;
}

.highlights {
  background: #ffffff;
  padding: 30px;
}

.list-item {
  font-style: italic;
}

ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.highlights-image {
  width: 50%;
}
